/* aufgabe1.css */

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "font-awesome-4.7.0/css/font-awesome.min.css";


body {
         font-family: Roboto;
}

ul {
         list-style-type: none;

         overflow: hidden;
         background-color: grey;
}

li {
         float: left;
         height: 80px;
         border-right: 1px solid darkgrey;
}

#logo {
         width: 200px;
}

li.menu {
         width: 100px;
}

table, h1 {
         clear: left;
}


